In [1]:
## Connect to DB server on AWS
import mysql.connector
from mysql.connector import errorcode
import config
db_name= 'Movies'
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    
)
cursor = cnx.cursor()
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x1105dff28>

In [2]:
## Create new DB 
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [2]:
import config
import requests
import time

In [11]:
print(config)

<module 'config' from '/Users/flatironschool/Desktop/project_one/movie-statz/config.py'>

In [5]:
api_key= config.api_key

In [3]:
def all_results(movies):
    results = []
    
    for i in range(len(movies)):
        title = movies[i]
        
        url_params = {'term': title.replace(' ', '+')}
        url = f'http://www.omdbapi.com/?apikey={api_key}&t={title}'
        response = requests.get(url, params=url_params)
        results.append(response.json())
        time.sleep(1) # wait a second
    return results

In [4]:
movies= ['The Lion King', 'Toy Story 4']

In [5]:
data= all_results(movies)

NameError: name 'api_key' is not defined

In [6]:
print(data)

NameError: name 'data' is not defined

In [7]:
print(data[0]

SyntaxError: unexpected EOF while parsing (<ipython-input-7-2153a7a759b2>, line 1)

In [8]:
movies=[]
for movie in data:
    movieinfo={}
    movieinfo['Title']=movie['Title']
    movieinfo["Director"]=movie['Director'].split(',')  
    movieinfo['Writer']=[writer.split('(')[0].strip() for writer in movie['Writer'].split(',')]
    movieinfo['Actors']=movie['Actors'].split(',')
    movies.append(movieinfo)

NameError: name 'data' is not defined

In [12]:
db_name= 'Movies'

TABLES = {}
TABLES['people'] = (
    "CREATE TABLE people ("
    "  personId int NOT NULL AUTO_INCREMENT,"
    "  personName varchar(30) NOT NULL,"    
    "  personRole varchar(10) NOT NULL,"   
    "  PRIMARY KEY (person_id),"
    "  UNIQUE KEY (person_name)"
    ") ENGINE=InnoDB")

In [93]:
add_persons = ("INSERT INTO people "
              "(person_name, person_role, person_id) "
              "VALUES (%s, %s, %s)")

In [13]:
def create_table(dict_of_tables):
    for table_name in dict_of_tables:
        table_description = dict_of_tables[table_name]
        try:
            print("Creating table {}: ".format(table_name), end='') # here we executing and actually creating the tables 
            cursor.execute(table_description)
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
                print("already exists.")
            else:
                print(err.msg)
        else:
            print("OK")
            
def drop_everything():
    cursor.execute("""DROP TABLE people;""")
    cnx.commit()

In [105]:
drop_everything()
create_table(TABLES)

Creating table people: OK

In [107]:
add_people(retVal)

In [51]:
#persons_tup = [(i['person_name'], i['person_role'], i['person_id']) for i retVal]
#setup wrong, how are values from dictionary being added 

# dataList = [{'a': 1}, {'b': 3}, {'c': 5}]
# for index in range(len(dataList)):
#     for key in dataList[index]:
#         print(dataList[index][key])

SyntaxError: invalid syntax (<ipython-input-51-6a2f0bc8af1c>, line 1)

In [55]:
movies[0]

{'Title': 'The Lion King',
 'Director': ['Roger Allers', ' Rob Minkoff'],
 'Writer': ['Irene Mecchi',
  'Jonathan Roberts',
  'Linda Woolverton',
  'Burny Mattinson',
  'Barry Johnson',
  'Lorna Cook',
  'Thom Enriquez',
  'Andy Gaskill',
  'Gary Trousdale',
  'Jim Capobianco',
  'Kevin Harkey',
  'Jorgen Klubien',
  'Chris Sanders',
  'Tom Sito',
  'Larry Leker',
  'Joe Ranft',
  'Rick Maki',
  'Ed Gombert',
  'Francis Glebas',
  'Mark Kausler',
  'J.T. Allen',
  'George Scribner',
  'Miguel Tejada-Flores',
  'Jenny Tripp',
  'Bob Tzudiker',
  'Christopher Vogler',
  'Kirk Wise',
  'Noni White',
  'Brenda Chapman'],
 'Actors': ['Rowan Atkinson',
  ' Matthew Broderick',
  ' Niketa Calame-Harris',
  ' Jim Cummings']}

In [18]:
persons_final=[]
for index in range(len(movies)):
    for key in movies[index]:
        persons_final.append(movies[index][key])

In [14]:
def add_people(list_of_people):
    for i in list_of_people:
        cursor.execute("""INSERT IGNORE INTO people (personName,personRole) VALUES (%s,%s)""", i)
        cnx.commit()

In [50]:
## start with a list, that will store tuples representing people
## each tuple will have the format (person name,person role)
director_list= []
for name in movies:
    for i in name:
        director_list.append(i['Director'])

TypeError: string indices must be integers

In [58]:
moviestwo= movies[0]

In [60]:
# movie_list=[]
# for key, value in moviestwo.items():
#     movie_list = [key,value]
#     moviestwo.append(movie_list)

AttributeError: 'dict' object has no attribute 'append'

In [63]:
# movie_list=[] 
# [movie_list.extend([k,v]) for k,v in moviestwo.items()]

[None, None, None, None]

In [ ]:
newmovie_list
for name in movies:
    for i in name:
        new

In [72]:
new_list = [(key,)+tuple(val) for mov in movies for key,val in mov.items()]
# new_list = [(key,)+tuple(val) for dic in list for key,val in dic.items()]

In [70]:
print(new_list)

[('Title', 'T', 'h', 'e', ' ', 'L', 'i', 'o', 'n', ' ', 'K', 'i', 'n', 'g'), ('Director', 'Roger Allers', ' Rob Minkoff'), ('Writer', 'Irene Mecchi', 'Jonathan Roberts', 'Linda Woolverton', 'Burny Mattinson', 'Barry Johnson', 'Lorna Cook', 'Thom Enriquez', 'Andy Gaskill', 'Gary Trousdale', 'Jim Capobianco', 'Kevin Harkey', 'Jorgen Klubien', 'Chris Sanders', 'Tom Sito', 'Larry Leker', 'Joe Ranft', 'Rick Maki', 'Ed Gombert', 'Francis Glebas', 'Mark Kausler', 'J.T. Allen', 'George Scribner', 'Miguel Tejada-Flores', 'Jenny Tripp', 'Bob Tzudiker', 'Christopher Vogler', 'Kirk Wise', 'Noni White', 'Brenda Chapman'), ('Actors', 'Rowan Atkinson', ' Matthew Broderick', ' Niketa Calame-Harris', ' Jim Cummings'), ('Title', 'T', 'o', 'y', ' ', 'S', 't', 'o', 'r', 'y', ' ', '4'), ('Director', 'Josh Cooley'), ('Writer', 'John Lasseter', 'Andrew Stanton', 'Josh Cooley', 'Valerie LaPointe', 'Rashida Jones', 'Will McCormack', 'Martin Hynes', 'Stephany Folsom', 'Andrew Stanton', 'Stephany Folsom'), ('Actors', 'Tom Hanks', ' Tim Allen', ' Annie Potts', ' Tony Hale')]

In [1]:
retVal = []
for movie in movies:
    for key in movie.keys():
        if key.title() == 'Director' or key.title() == 'Writer' or key.title() == 'Actors':
            for person in movie[key]:
                retVal.append((person,key))
retVal

NameError: name 'movies' is not defined